/*
 ********************************************
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 *░░█▀█░█░░░█░█░█▀▀░░░█░█░█░░░▀█▀░█▀▄░█▀█░░*
 *░░█▀▀░█░░░█░█░▀▀█░░░█░█░█░░░░█░░█▀▄░█▀█░░*
 *░░▀░░░▀▀▀░▀▀▀░▀▀▀░░░▀▀▀░▀▀▀░░▀░░▀░▀░▀░▀░░*
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 ********************************************
 */

* {
	border: none;
	border-radius: 0;
	font-family: Nerd Font Hack;
	font-size: 12px;
	min-height: 15px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 3px;
	margin-bottom: 3px;
    padding-left: 14px;
    padding-right: 14px;
	border-radius: 8px;
	transition: none;
	/*
    color: #f8f8f2;
	background: #282a36;
    */
    color: transparent;
	background: transparent;
}

window#waybar.termite #window,
window#waybar.Firefox #window,
window#waybar.Navigator #window,
window#waybar.PCSX2 #window {
    color: #4d4d4d;
	background: #e6e6e6;
}

#workspaces {
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 12px;
	border-radius: 8px;
	background: #282a36;
	transition: none;
}

#workspaces button {
	transition: none;
	color: #f8f8f2;
	background: transparent;
	font-size: 16px;
}

#workspaces button.focused {
	color: #9aedfe;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #ff79c6;
}

#cpu {
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 8px;
	padding-left: 14px;
	padding-right: 14px;
	border-radius: 8px;
	transition: none;
	color: #4d4d4d;
	background: #f1fa8c;
}

#memory {
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 8px;
	padding-left: 14px;
	padding-right: 14px;
	border-radius: 8px;
	transition: none;
	color: #4d4d4d;
	background: #ff6e67;
}

#clock {
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 8px;
	padding-left: 14px;
	padding-right: 14px;
	border-radius: 8px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
}

#tray {
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 8px;
	margin-right: 12px;
	padding-left: 14px;
	padding-right: 14px;
	border-radius: 8px;
	transition: none;
	color: #f8f8f2;
	background: #336600;
}


