<b>Greg McCoy</b><br>
<table border="0" cellpadding="10">
<tbody>
  <tr>
    <td> <img src="http://www.gfamedia.org/images/gfa-invoice-logo.png" alt="Gospel for Asia" height="96" width="125"> </td>
    <td> <font size="3"><b>Web Department</b> <br>
        GFA Canada</font> <br>
      <font size="2"> 245 King St E<br>
        Stoney Creek, ON, L8G1L9<br>
        <a href="gfa.ca">gfa.ca</a> </font> </td>
  </tr>
</tbody>
</table>
